body{
    background-color: #748BA7;
}
.container{
background-color: #143054;
margin-top: 10px;
}
p{
    padding:10px;
}
header{
    width: 910px;
    height: 125px;
    padding: 25px;
    line-height:2.7em;
    margin-bottom: 10px;
    text-align: center;
    color: #051B38;
    font-size: 1.5em;
    background-color: #4C688B;
}

h3{
    font-size:1.4em;
    font-weight:bold;
    color:#201858;
    padding:10px;
}
#navbarBrand{
    font-weight:600;
   color: #201858;
   text-decoration: underline;
}
nav{
    display: block;
    font-size: 1.25em;
    margin-bottom: 10px;
    background-color: #847EB1;
}
nav li{
    display: inline;
    padding-right: 30px;
    list-style-type: none;
}
nav a:link{
    color:#0E083B;
    text-decoration:none;
}
nav a:visited{
    color:#0E083B;
}
nav a:hover{
    text-decoration:underline;
    color: #5B5393;
   
}
aside{
margin: 0 0px 10px 0px;
color:#051B38;
background-color: #4C688B;
}
.center{
    display:block;
    text-align: center;
}
section{   
    margin: 0 0px 10px 0px;
    line-height: 1.5;
    color:#051B38;
    background-color: #4C688B;
}
section img{
padding: 10px;
}
aside img{
    padding:10px;
}
 section a:link{
    color:#201858;
    text-decoration:underline;
}
section a:visited{
    color:#201858;
    text-decoration:underline;
}
section a:hover{
    text-decoration:underline;
    color: #847EB1;
}
article{
    width: 890px;
    height: 450px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    line-height: 1.5;
    float:right;
    color:#051B38;
    background-color: #4C688B;
}
#goallist{
    margin-left: 36px;
    line-height:1.5em;
    color:#051B38;
    font: 1.25em Arial, Helvetica, sans-serif;
    font-weight: 500;
   
}

footer{
padding: 15px;
text-align: center;
color:#0E5342;
background-color: #6FA698;
}

footer li{
    display: inline;
    padding-right: 40px;
    list-style-type: none;
}
footer a:link{
    color:#003729;
    text-decoration:underline;
}
footer a:visited{
    color: #003729; 
    text-decoration: underline;
}
footer a:hover{
    text-decoration: underline;
    color: #0E5342;
}

.accounts{
    display: block;
    line-height: 1.5em;
}

.accounts li{
    display: block;    
    list-style-type: none;
}
.accounts a:link{
    color:#201858;
    text-decoration:underline;
}
.accounts a:visited{
    color:#201858;
    text-decoration:underline;
}
.accounts a:hover{
    text-decoration:underline;
    color: #847EB1;
}

.table{
    border-collapse: collapse;
    padding:10px;
}

tr, td, th 
{
    background-color: #847EB1;
    border: solid 2px #201858;
    padding: 2px;
    text-align: center;
    width: 230px;
    height: 5px;
}
label{
    width: 140px;
    text-align: right;
    padding: 5px;
}
form{
    display: block;
    text-align: center;
    margin: 0 auto;
}
input[type="text"]{
    transform: scale(0.9);
    border-radius: 0%;
    border-style: ridge;
}
input[type="checkbox"], input[type="radio"]{
    transform: scale(1.2);
    margin-left: 1em;
    padding: 2px;
    justify-items: left;
}
input[type="submit"]{
    margin-left:10px;
    margin-bottom:10px;
}
fieldset{
    border-color:#201858;
    margin-right:140px;
}
textarea{
    resize:none;
}
.figure-caption{
    padding: 10px;
}
.img{
    width:100%;
}
span{
    color:red;
}
.nav{
    margin-bottom: 10px;
}
.invisibleText{
    color: #4C688B;
}